<html>
<head>
<meta http-equiv="Content-Type" content="text/html charset="utf-8">
<title>主机管理系统</title>
<link rel="stylesheet" href="/static/watch/css/style.css" type="text/css" />
<script src="/static/jquery/jquery-3.0.0.js"></script>
<script src="/static/jquery/jquery.cookie.js"></script>
<script src="/static/watch/js/zjgl.js"></script>
</head>
<!--  <body style="background:url(/static/watch/images/bg.jpg);">-->
<body style="background-color:#ffffff;min-width:1000px;">
	<div class='h1'>
		<h1>设备监控</h1>
	</div>
	</br>
		{% block content %}{% endblock %}
	
</body>

</html>